
.icon-down-bold:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-video:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-plus-circled:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-login:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-right-bold:before { content: '\e80d'; } /* '' */
.icon-comment:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-desktop:before { content: '\e810'; } /* '' */
.icon-tablet:before { content: '\e811'; } /* '' */
.icon-mobile:before { content: '\e812'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */