#family-intro
{
    background-color: #fff;
    padding: 15px 30px;
}

#family-actions
{
    background-color: #fff;
    padding: 15px 30px;
    margin-top:15px;
}

#col-right div.card
{
    background:#fff;
    padding: 0;
    border:0;
    margin-bottom: 15px;
    box-shadow: #999 0px 0px 4px;
}

#leading-card
{
    height:234px;
    background: #8AB5D4 !important;
    box-shadow: none !important;
}

#leading-card .card-header
{
    color:#fff;
}