{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">

        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            'Connexion' : path('login'),
            'Récupération de mot de passe' : app.request.requestUri
        }} %}

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                {% for success in app.flashes('success') %}
                    <p class="alert alert-success">{{ success }}</p>
                {% endfor %}

                <h1>Un petit oubli ?</h1>
                <p class="text-gray">Donnez-nous votre email, nous vous rendons votre accès.</p>
                <hr>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary btn-block text-bold text-uppercase">Récupérer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}